body,h2,p {
    padding:0;
    margin:0;
}

.blind {
    position:absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.cont-login {
    border: 1px solid #DBDBDB;
    margin:20% auto;
    padding:15px 19px 17px;
    width:350px;

}

.cont-login::after{

    content:'';
    display:block;
    clear:both; 
}

.txt-login {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
}

.btn-login {
    /* a 태그는 인라인 요소다. */
    display: block;
    background-color:  #711BFF;
    border-radius: 4px;
    text-align: center;
    padding: 10px 0px 12px;
    text-decoration:none;
    color:white;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    margin-bottom: 17px;
}

.img-logo {
    vertical-align:-3px;
}
.find-icon {
    float:left;
}
.find-login {
    float:left;
}

.find-id {
    float:left;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-decoration: none;
    margin-left:4px;
    color: #767676;
}
.find-id::after {
    float:right;
    display: block;
    content: '';
    width:1px;
    height:12px;
    background-color: #767676;
    margin: 0px 4px 0px;
}

.find-pwd {
    float:left;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #767676;

}
.join-login {
    float:right;
    
}

.join-user {
    float:left;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #767676;
    margin-left:4px;
}
.join-icon {
    float:left;

}