* {
    font-family: 'Roboto', sans-serif;
  }

body ,p { 
    margin:0;
    padding:0;
}

h1 {
    margin:0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
}
.wrapper {
    background-color: #FFFFFF;
    width: 350px;
    height: 140px;
    border:1px solid #DBDBDB;
    margin:0px auto;
    border-radius: 5px;
}

.header {
    width: 215px;
    height: 15px;
    margin-top: 20px;
    margin-left: 16px;
}
.header h1 {
    font-weight: 400;
    font-size:12px;   
    line-height: 15.02px;
    color: #000000;
}

.main .login {
    height: 40px;
    width: 318px;
    border:1px solid #711BFF;
    background-color: #711BFF;
    border-radius: 4px;
    margin-left:16px;
    margin-top:15px;
    color:white;
    line-height: 50%;
    position: relative;
}

.main img {
    position:absolute;
    left:108px;
    top:10px;
    width: 50px;
    height: 18px;
}
.login a {
    color:white;
    position:absolute;
    top:13px;
    left:176px;
    padding-top:3px;
    margin-left:7px;
}
