body, p,h1 {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

@font-face {
	font-family: "SpoqaHanSansNeo-Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SpoqaHanSansNeo-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 10px;
    color: #121314;
}

body {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
}
strong {
    font-family: "SpoqaHanSansNeo-Bold";
}

.wrapper {
    display: flex;
    gap:5%;
    width:120rem;
    margin:24rem auto;
    max-width: calc(100% - 6rem);
}

.txt-info h1 {
    font-size:7rem;
    font-weight: normal;
}

.txt-info p {
    margin-top:2rem;
    font-size:2rem;
    color: #47494D;
    line-height: 1.5;
}

.link-info {
    flex-basis: 40%;
}

.link-info ul {
    display: flex;
    flex-direction: column;
    gap:2rem;
    flex-grow: 1;
}

.link-info ul li {
    position: relative;
    flex-grow: 1;
}
.link-info ul li a {
    display: block;
    width: 100%;
    height:0;
    padding-top: 280px;

    border-radius: 2rem;
}

.IT-education a {
    background:url("./images/Rectangle\ 2.png") no-repeat 50% 50% / cover;
}

.IT-book a {
    background:url("./images/Rectangle\ 3.png") no-repeat 50% 50% / cover;
}

.link-info .field-title {
    position: absolute;
    top:4rem;
    left:4rem;
    color:white;
    font-size: 3rem;
}

.link-info .field-go {
	position: absolute;
	bottom: 4rem;
	right: 4rem;
	font-size: 1.6rem;
    padding-right: 18px;
    color:#FFF;
    background:url("./images/icon-_.png") no-repeat right;
}

@media screen and (max-width: 768px) {
    .wrapper {
		flex-direction: column;
	}
    .txt-info p {
		font-size: 1.8rem;
		margin-bottom: 6rem;
	}

    .link-info ul{
        flex-direction: row;
    }

    .link-info ul li a {	
		font-size: 2.4rem;
	}

	.link-info .field-title {
		top: 3rem;
		left: 3rem;
	}

	.link-info .field-go {
		bottom: 2rem;
		right: 2rem;
	}
}

@media (max-width: 500px) {

    .txt-info h1 {
        font-size: 3.6rem;
    }

    .txt-info p {
        margin-top: 1.4rem;
		margin-bottom: 4rem;
		font-size: 1.4rem;
    }

    .link-info ul{
        flex-direction: column;
    }

    .link-info ul li a {	
		font-size: 2rem;
	}

    .link-info .field-go {
		font-size: 1.4rem;
		font-weight: 400;
	}
}