body,h1,p {
    margin: initial;
}

h1 {
    font-size:inherit;
    font-weight: inherit;
}
body {
    background-image: url(images/background.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.wraper {
    background-color: #ddd;
    width: 800px;
    /* //부모 요소에 맞춰서 결정 */
    /* margin-left: auto; */
    /* 왼쪽에 남는 공간을 자동으로 여백으로 취하겠다 */
    /* margin-right: auto;*/
    /* 나눠가지겠다 */
    margin: 0 auto;
    /* 상하 좌우 , 위 두가지를 한번에 정리*/
    /* margin top과 bottom은 내 영역이 아니라서 auto 할 수 없음 */
}

/* div라는 태그 가지고 있으면서 header라는 class를 가르키고 있음 */
/* div를 생략 가능 .head = *.headr *의 의미 : Universal Selector */
.header {
    font-size: 16px;
    background-image: url(images/cover02.png);
    background-size: cover;
    height:auto;
    padding: 50px 0;
    
    text-align: center;
    /* 인라인이기 때문에 text-align 가능 */
    color:white;
}

/* 이렇게 되면 위험하다!!!! */
/* img {
    margin-top:70px;
} */

img.profile {
    margin-top:90px;
    border: 10px solid white;
    border-radius: 50%;
}

.header h1 {
    font-size:100px;
}

.header p{
    border-top:4px solid;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
}
.footer {
    background-color: #f4f4f4;
}