select {
    -webkit-appearance:none; /* for chrome */

    -moz-appearance:none; /*for firefox*/
 
    appearance:none;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    width: 200px;
    padding: 12px 55px 12px 13px;
}

select {
    background:url('Polygon\ 1.png') no-repeat 95% 50%/15px auto;
 }

select:hover {
    border-color: #9B51E0;
}

