@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body {
    padding:0;
    margin:0;
}

h1,h2 {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration:none;
}

.wrapper {
    width: 500px;
    border:1px solid #C4C4C4;
    border-radius: 5px;
    padding:29px;
    margin:30px auto;
    text-align:center;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.logo-login {
    margin-bottom: 28px;
}

.tit-login {
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    margin-bottom:32px;
}

.btn-login {
    display:block;
    background-color:#2F80ED;
    border-radius: 5px;
    font-family: Spoqa Han Sans Neo;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    color:white;
    padding:16px 0px 14px;
}