@charset 'utf-8';

#app {
    height:100vh;
    width:100vw;
    perspective:1500px;
}

.list-item {
    position:fixed;
    width:300px;
    height:400px;
    padding:0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transform-style: preserve-3d;
    transition:0.3s;
}

.list-item li {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    border:1px solid black;
    border-radius:10px;
    box-sizing:border-box;
    /* backface-visibility: hidden; */
}
/* rotate랑 translate는 동시에 써야함. */
/* .list-item li:nth-child(1) {
    transform: rotateY(0)
    translateZ(calc(340px * 7/2/3.14));
}
.list-item li:nth-child(2) {
    transform: rotateY(calc(360deg / 7))
    translateZ(calc(340px * 7/2/3.14));
}
.list-item li:nth-child(3) {
    transform: rotateY(calc(360deg / 7 *2))
    translateZ(calc(340px * 7/2/3.14));
}
.list-item li:nth-child(4) {
    transform: rotateY(calc(360deg / 7 *3))
    translateZ(calc(340px * 7/2/3.14));
}
.list-item li:nth-child(5) {
    transform: rotateY(calc(360deg / 7 *4))
    translateZ(calc(340px * 7/2/3.14));
}
.list-item li:nth-child(6) {
    transform: rotateY(calc(360deg / 7 *5))
    translateZ(calc(340px * 7/2/3.14));
}
.list-item li:nth-child(7) {
    transform: rotateY(calc(360deg / 7 *6))
    translateZ(calc(340px * 7/2/3.14));
} */
.list-item li img {
    /* 이미지 요소안의 컨텐츠 크기를 어떻게 맞출 것인지 설정 */
    object-fit: contain;
    width:100%;
    height:100%;
}