@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700;800&family=Roboto&display=swap');

* {
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.dropbox-form {
    margin:20px 40%;
    width:200px;
}

#language-btn {
    display:none;
}

.language-label{
    width:100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: #FFF;
    padding:12px 12px 12px 13px;
    text-align: start;
    /* background:url("../image/direction.png") no-repeat 95% 50%/15px auto; */
    background-image: url("../image/direction.png");
    background-repeat: no-repeat;
    background-position: 174px center;
    background-size: 12px 8px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;

}

.language-label:hover{
    border-color:#9B51E0;
}


.language-list {
    display:none;
    width:100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #C4C4C4;
    border-radius: 10px;
    margin-top:10px;
    overflow:hidden;
}


.language {
    width:183px;
    padding:6px 9px;
    margin:4px 7px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

.language:hover {
    border:1px solid  white;
    border-radius:8px;
    background-color:#F8E4FF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#language-btn:checked ~ .language-list {
    display: block;
}

